/* MENÚ DE NAVEGACIÓN */
.navbar {
    background-color: grey;
    display: flex;
    justify-content: flex-start;
}

.navbar a {
    color: white;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    padding: 0.875em 0.571em;
    align-self: center;
}

.navbar a:hover {
    background-color: white;
    color: black;
}

#toggle {
    display: none;
}

.togglearea {
    background-color: grey;
    border-bottom: 0.125em solid white;
    color: white;
    padding: 0.625em;
    display: flex;
    justify-content: flex-end;
}

.togglearea label {
    background-color: white;
    height: 2.813em;
    width: 3.125em;
    color: black;
    border-radius: 0.375em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.togglearea label span {
    background-color: black;
    height: 0.250em;
    width: 70%;
    margin: 0.125em 0em;
}

.togglearea {
    display: none;
}

@media screen and (max-width: 600px) {
    .navbar {
        flex-direction: column;
        display: none;
    }

    #toggle:checked+.navbar {
        display: flex;
    }

    .togglearea {
        display: flex;
    }
}

/* CABECERA */
.header {
    justify-content: space-evenly;
    display: flex;
    color: antiquewhite;
    background: linear-gradient(135deg, rgba(3,143,96,1) 0%, rgba(42,168,124,1) 44%, rgba(0,61,107,1) 100%);
}

img .leftSection {
    align-self: center;
}

.header .rightSection {
    align-self: center;
}

@media screen and (max-width: 769px) {
    .header {
        flex-wrap: wrap;
        text-align: center;
    }

    .header .leftSection {
        padding: 0;
        align-self: center;
    }

    .header .rightSection {
        padding: inherit;
        margin-top: 0;
    }
}